@model IEnumerable<Row>
@{
    ViewData["Title"] = "Medium";
}



<h4>Medium board</h4>
<table>
    @if (Model != null && Model.Count() > 0)
    {
        foreach (var row in Model)
        {

            <tr id="r_@row.RowId">
               @if (row.Cells != null && row.Cells.Count > 0)
               {
                @foreach (var cell in row.Cells)
               {
                    <td id="">="c_@cell.Id"</td>
               }
                
               }
            </tr>
        }


    }


</table>